<div class="three wide column">
  <div class="ui fluid raised card">
    <div class="ui <%="inverted" if current_user.has_dark_active %> segment">
      <div class="ui small <%="inverted" if current_user.has_dark_active %> list">
        <h4 class="ui <%="inverted" if current_user.has_dark_active %> header">Participants:</h4>
        <p class="ui divider"></p>
        <% @users.each do |user| %>
        <% unless user.status == "Offline" %>
        <div class="item" id="list-participant-others">
          <%= link_to "#{user.username}", user_path(user.id) if user != current_user %>
        </div>
        <% end %>
        <% end %>
        <div class="item" id="list-participant-user">
          <%= link_to "( You )", user_path(current_user.id) %>
        </div>
      </div>
    </div>
  </div>
</div>
