<h2 class="ui center aligned medium icon header">
  <i class="circular orange comments outline icon"></i>
  Chatroom
</h2>

<div class="ui stackable centered grid">

  <div class="ui three wide column">
    <div class="ui fluid raised card">
      <div class="content">
        <div class="ui inverted fluid vertical menu">
          <div class="ui left pointing dropdown link item">
            <i class="dropdown icon"></i>
            Status
            <div class="menu">
              <div class="item">Away</div>
              <div class="item">Busy</div>
              <div class="item">Online</div>
            </div>
          </div>
          <%= link_to "History", history_path, class:"orange item" %>
        </div>
      </div>
    </div>
  </div>

  <div class="ui ten wide column ">
    <div class="ui fluid raised card">
      <div class="ui large feed" id="message-container">
        <%= render @messages %>
      </div>
          <div class="extra content">
            <%= form_for @message, method:"create", url:message_path, remote:true do |f| %>
            <div class="ui small fluid action input">
              <%= f.text_field :body, placeholder:"Enter message here..." %>
              <%= f.submit "Send", class:"ui orange right labeled icon tiny button" %>
              <% end %>
            </div>
          </div>
    </div>
  </div>

  <div class="three wide column">
    <div class="ui fluid raised card">
      <div class="content">
        <div class="ui small feed">
          <h4 class="ui header">Participants:</h4>
          <div class="event">
            <div class="content">
              <div class="summary">
                <%= link_to "( You )", user_path(current_user.id) %>
              </div>
            </div>
          </div>
          <% @user.each do |user| %>
          <% if user.status != "Offline" %>
          <div class="event">
            <div class="content">
              <div class="summary">
                <%= link_to "#{user.username} (#{user.status})", user_path(user.id) if user != current_user %>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
