<h2 class="ui center aligned medium icon header">
  <i class="circular orange comments outline icon"></i>
  Chatroom
</h2>

<div class="ui centered grid">

  <%= render 'chatroom/left_button_menu' %>

  <div class="ui ten wide column ">
    <div class="ui fluid raised card">
      <div id="message-container">
        <%= render @messages %>
      </div>
      <div class="extra content">
        <%= form_with model:@message, method:"create", url:message_path, id:"chat_form" do |f| %>
        <div class="ui small fluid action input">
          <%= f.text_field :body, autofocus: true, autocomplete: false,
                            placeholder:"Enter message here...", id:"chat_textfield" %>
          <%= f.submit "Send", class:"ui orange right labeled icon tiny button", id:"send_button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= render 'chatroom/right_menu_participants' %>

</div>
