<div class="ui form">
  <%= form_for @user do |f| %>
    <div class="required field">
      <%= f.label :username %>
      <%= f.text_field :username, placeholder:'Enter username', autofocus:"true" %>
    </div>
    <% if !@user.new_record? %>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, placeholder: "Tell us about yourself !" %>
    </div>
    <% end %>
    <div class="required field">
      <%= f.label :password %>
      <%= f.password_field :password, placeholder:"Enter password"%>
    </div>
    <% if @user.new_record? %>
    <div class="required field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, placeholder:"Re-enter password" %>
    </div>
    <% end %>
    <br>
    <%= f.submit(@user.new_record? ? "Signup" : "Save changes", class:"ui orange button") %>
  <% end %>
  <br>
  <%= link_to "Cancel and return", @user.new_record? ? login_path : user_path(@user) %>
</div>
