<div class="ui small borderless orange <%="#{has_dark_active?}"%> menu">
  <div class="ui container">
    <div class="left menu">
      <%= link_to "Chatroom", root_path, class:"item #{'active' if current_page?(root_path)}" %>
      <%= link_to "About", about_path, class:"item #{'active' if current_page?(about_path)}" %>
    </div>
    <!-- -->

    <!-- -->
    <div class="right menu">
      <% if logged_in? %>
      <div class="ui dropdown item">
        <i class="user orange icon"></i>
        <strong><%= "#{current_user.username}" %></strong>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <%= link_to "Profile", user_path(current_user.id), class:"ui inverted primary fluid button" %>
          </div>
          <div class="item">
            <%= link_to "Logout", logout_path, method: :delete, class:"ui inverted red fluid button" %>
          </div>
        </div>
      </div>
      <div class="vertically fitted item">
        <% label_color = "" %>
        <% label_color = "green" if current_user.status == "Online" %>
        <% label_color = "red" if current_user.status == "Busy" %>
        <% label_color = "yellow" if current_user.status == "Away" %>
        <span class="ui large <%="#{label_color}"%> label" id="current-status-tag">
          <%= "#{current_user.status}" %>
        </span>
      </div>
      <% elsif !logged_in? and !current_page?(login_path)%>
      <div class="item">
        <%= link_to "Log in", login_path, class: "ui primary button" %>
      </div>
      <% elsif !logged_in? and (!current_page?(login_path) and !current_page?(signup_path) ) %>
      <div class="item">
        <%= link_to "Signup", login_path, class: "ui orange button" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="vertically fitted item" id="dark-theme-toggler">
    <% if logged_in? %>
    <% icon_mode = "moon" if current_user.has_dark_active %>
    <% icon_mode = "sun"  if !current_user.has_dark_active %>
    <i class="ui <%="#{icon_mode}"%> outline big link icon"></i>
    <%= form_tag toggle_dark_mode_path, method: :get, remote: true do %>
      <%= submit_tag nil, type: :submit%>
    <% end %>
    <% end %>
  </div>
</div>
