<div id="main-nav-wrapper">
  <div class="ui small <%='inverted' if night_mode?%> fluid four item menu" id="main-nav">

      <div class="vertically fitted item left menu">
        <%= link_to "About", about_path, class:"orange item #{'active' if current_page?(about_path)}" %>

        <% if logged_in? %>
        <%= link_to "Chatroom", root_path, class:"orange item #{'active' if current_page?(root_path)}" %>

        <div class="item ui dropdown item" id="username-dropdown-menu">
          <i class="user orange icon"></i>
          <strong><%= "#{current_user.username}" %></strong>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">
              <%= link_to "Profile", user_path(current_user.id), class:"ui inverted primary fluid button" %>
            </div>
            <div class="item">
              <%= link_to "Logout", logout_path, method: :delete, class:"ui inverted red fluid button" %>
            </div>
          </div>
        </div>

        <div class="item" id="current-status-nav">
        <% label_color = "" %>
        <% label_color = "green" if current_user.status == "Online" %>
        <% label_color = "red" if current_user.status == "Busy" %>
        <% label_color = "yellow" if current_user.status == "Away" %>
          <div class="ui large <%="#{label_color}"%> label" id="current-status-tag">
            <%= "#{current_user.status}" %>
          </div>
        </div>
      </div>

      <div class="right menu">
        <% elsif !logged_in? and !current_page?(login_path)%>
        <div class="item">
          <%= link_to "Log in", login_path, class: "ui primary button" %>
        </div>
        <% elsif !logged_in? and (!current_page?(login_path) and !current_page?(signup_path) ) %>
        <div class="item">
          <%= link_to "Signup", login_path, class: "ui orange button" %>
        </div>
        <% end %>
        <% icon_mode = "moon" if night_mode? %>
        <% icon_mode = "sun"  if !night_mode? %>
        <% if logged_in? %>
        <div class="vertically fitted item" id="dark-theme-toggler">
          <i class="ui <%="#{icon_mode}"%> outline big icon" id="daytime-icon"></i>
          <%= form_tag toggle_dark_mode_path, method: :get, remote: true do %>
          <%= submit_tag "Change", type: :submit, class:"ui tiny inverted orange fluid button"%>
          <% end %>
        </div>
        <% end %>
      </div>


  </div>
</div>
