<!DOCTYPE html>
<html>
  <head>
    <title>Message Me</title>
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Ubuntu&display=swap" rel="stylesheet">
  </head>

  <body style= <%="background:black;" if night_mode?%> >
    <%= render 'layouts/navigation' %>
    <br>

    <div class="main-content">
      <%= render 'layouts/notifications' %>
      <%= yield %>
    </div>

  </body>
</html>
